@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="x-tmpl-mustache" id="PlayersListTemplate">
    <ul class="list-unstyled">
        {{#players}}
        <li>
            <span class="{{#Status}}text-success{{/Status}}">{{PlayerToken.Id}}</span>
        </li>
        {{/players}}
    </ul>
</script>

<div class="row">
    <div class="col-md-2 col-sm-5">
        <div id="PlayersList"></div>
    </div>
    <div class="col-md-10 col-sm-7">
        <canvas id="Arena" width="500" height="500" style="background-color:beige"></canvas>
    </div>
</div>
<div class="row">
    <div id="PlayerHub" class="col-md-12"><a id="MarkAsReady" href="?">Ready!</a></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/mustache")
    <script src="~/Scripts/require.js" data-main="/Scripts/FightArena/Index"></script>
}