@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Arena" style="width:500px;height:500px;"></div>

@section scripts
{
    <script src="~/Scripts/require.js" data-main="/Scripts/FightArena/Index"></script>
}