@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="x-tmpl-mustache" id="PlayersListTemplate">
    <ul class="list-unstyled">
        {{#players}}
        <li>
            <span class="{{#IsReady}}text-success{{/IsReady}}">{{PlayerToken.Id}}</span>
        </li>
        {{/players}}
    </ul>
</script>

<div class="row">
    <div class="col-md-2 col-sm-2">
        <div id="PlayersList"></div>
        <a id="MarkAsReady" href="?">Ready!</a>
    </div>
    <div style="border:solid red;" class="col-md-10 col-sm-10">
        <canvas id="Arena" width="500" height="500"></canvas>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/mustache")
    <script src="~/Scripts/require.js" data-main="/Scripts/FightArena/Index"></script>
}